.bar {
  position: relative;
  width: 240px;
}

.title {
  font-size: 16px;
  padding-bottom: 8px;
  font-style: italic;
  font-weight: 700;
  color: #818181;
}

.content {
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  position: relative;
  height: 35px;
  background-color: rgb(0, 174, 255);
}

.counter {
  margin-right: 35px;
  height: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  font-style: italic;
  color: #ffffff;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  color: #ffffff;
  background-color: #2a5f7f;
  border: none;
  outline: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.item {
  padding: 0 15px;
  margin-bottom: 30px;
}

.itemTitle {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
  padding: 5px 0;
}

.item:first-child {
  position: relative;
}

.btnPrice {
  position: absolute;
  top: 0;
  right: 10px;
  width: 80px;
  height: 28px;
  color: #ffffff;
  background-color: #2a5f7f;
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btnPrice:hover,
.btnPrice:focus {
  background-color: rgb(0, 174, 255);
}
