.bar {
  position: relative;
  width: 240px;
}

.title {
  font-size: 16px;
  padding-bottom: 8px;
  font-style: italic;
  font-weight: 700;
  color: #818181;
}

.content {
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  position: relative;
  height: 35px;
  background-color: rgb(0, 174, 255);
}

.counter {
  margin-right: 35px;
  height: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  font-style: italic;
  color: #ffffff;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  color: #ffffff;
  background-color: #2a5f7f;
  border: none;
  outline: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
