.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.label span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.arrow {
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.left {
  composes: line;
  width: 12.5px;
  top: 25px;
  left: 6px;
  transform: rotate(46deg);
}

.right {
  composes: line;
  width: 25px;
  bottom: 18px;
  right: 4px;
  transform: rotate(-50deg);
}
