.simpleSlider {
  height: 335px;
  background: #2a5f7f;
  background: radial-gradient(#269ec3, #2a5f7f);
}

.container {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.content {
  position: relative;
  max-width: 500px;
  height: 100%;
}

.title {
  padding-top: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.description {
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.btn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  transition-property: background-color;
  transition-property: color;
  transition: 0.2s linear;
}

.btn:hover,
.btn:focus {
  background-color: rgb(0, 174, 255);
  color: #ffffff;
}

.slideImg {
  width: auto;
  height: 90%;
}
