.contacts {
  margin-bottom: 20px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
}

.phone {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.map {
  min-width: 500px;
  height: 635px;
}
