.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.watchesPage {
  display: flex;
}

.leftBar {
  min-width: 240px;
  margin-right: auto;
  padding-top: 38px;
}

.content {
  max-width: 742.67px;
}

.topBar {
  margin-bottom: 25px;
}
