.partners {
  background-color: #dbdbdb;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

img {
  width: auto;
  height: 100%;
}
