.item {
  position: relative;
  width: 240px;
  padding: 20px;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  transition: border 0.2s linear;
}

.item:hover,
.item:focus {
  border-color: rgb(0, 174, 255);
}

.mark,
.zoom {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 5px;
}

.mark {
  left: 5px;
}

.mark svg {
  fill: transparent;
}

.hit svg {
  fill: #63cadd;
}
.new svg {
  fill: #a0d06a;
}
.sale svg {
  fill: #f9674e;
}

.markerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
}

.zoom {
  right: 5px;
  cursor: pointer;
}

.zoom svg {
  fill: #f4f4f4;
  transition: fill 0.2s linear;
}

.item:hover .zoom svg,
.item:focus .zoom svg {
  fill: rgb(0, 174, 255);
}

.watchImg {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}

.model {
  min-height: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}

.prise {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: #2a5f7f;
  margin-bottom: 15px;
}

.btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #2a5f7f;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}

.item:hover .btn,
.item:focus .btn {
  background-color: rgb(0, 174, 255);
}
